.container {
    width: 50%;
    margin: 50px auto;
    padding: 90px 40px 50px;
    border: 1px solid gray;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

label {
    font-size: 20px;
    font-weight: 600;
}

input {
    font-size: 18px;
    padding: 3px 20px;
    width: 150px;
    margin-left: 10px;
}

button {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background: rgb(252, 119, 42);
    padding: 6px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}